.btn-container {
	width: 50%;
	margin-top: 2rem;
	@media only screen and(max-width:500px) {
		width: 80%;
	}
}

button {
	background: #333333;
	font-family: 'Space Mono', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 1.4rem;
	line-height: 2.1rem;
	letter-spacing: -0.035em;
	text-transform: uppercase;
	border: none;
	outline: none;
	color: #ffffff;
	padding: 1.5rem 2rem;
	cursor: pointer;

	@media only screen and(max-width:500px) {
		padding: 1rem 1.5rem;
	}

	&:hover {
		background: #585757;
	}
}
